<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name='Log4MongoDBAppender' type='clby.Core.Logging.Log4MongoDBAppender, clby.Core'>
      <ConnectionString value='mongodb://127.0.0.1:27017/' />
      <DbName value='logs' />
      <bufferSize value="30" />
    </appender>
    <root>
      <level value='ALL' />
      <appender-ref ref='Log4MongoDBAppender' />
    </root>
  </log4net>
</configuration>